<footer class="footer">
  <div class="container footer-inner">
    <div>© <%= new Date().getFullYear() %> Ella Rises</div>

    <div class="footer-links">
      <a href="/">Home</a>
      <a href="/admin/dashboard">Admin</a>
    </div>

    <div class="footer-social">
      <a href="https://www.ellarises.org/" target="_blank" rel="noopener" class="footer-logo-link"><img src="/images/ella%20rises%20logo.png" alt="Ella Rises Logo" class="footer-logo-img"></a>
      <a href="mailto:info@ellarises.org">✉</a>
    </div>
  </div>
</footer>
